@import '../../global/variables';

.hero_section {
    width: 100%;
    min-height: 100vh;
    margin-top: $header-height;

    .hero_top {
        height: 50vh;
        background-color: $primary-color;
        background-color: var(--primary-color);

        .hero_wrapper {
            display: flex;
            margin: 0 auto;
            width: 90%;
            max-width: 1170px;
            height: 100%;
            position: relative;

            .hero_top_text {
                color: $background-color;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 50%;
                z-index: 1;

                .title {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 44px;
                    text-shadow: 0 1px 1px rgba(0 0 0 / 12%);
                }

                p {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 1.5rem 0;
                    text-shadow: 0 1px 1px rgba(0 0 0 / 12%);
                }

                .hero_link {
                    background-color: $white-color;
                    padding: .5rem 1rem;
                    border-radius: 8px;
                    color: $primary-color;
                    color: var(--primary-color);
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: .25px;
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .hero_top_right_image {
                background: $primary-color no-repeat center/contain;
                background: var(--primary-color) no-repeat center/contain;
                background-image: url('../../assets/images/bg.png');
                height: inherit;
                min-width: 100%;
                margin-left: 15%;
            }
        }
    }

    .hero_bottom{
        padding: 4rem 0;
    }
}

@media only screen and (max-width: 940px) {
    .hero_top_text {
        width: 100% !important;
    }

    .hero_top_right_image {
        display: none;
    }
}