@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import './variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
}

.app {
    background-color: $background-color;
    min-height: 100vh;
}

img, button, label {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}