@import '../../global/variables';

.progress {
    height: 5px;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $gray-color-secondary;
    margin-bottom: 4rem;

    .progress_bar {
        height: 100%;
        background-color: $primary-color;
        background-color: var(--primary-color);
        border-radius: 8px;
    }
}