@import '../../global/variables';

.modal {
    position: fixed;
    top: - $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    place-items: center;
    z-index: $z-index-fixed;
    opacity: 0;
    transform: translateY(-100vh);

    &.open {
        opacity: 1;
        transform: translate(0);
        transition: $transition;
    }

    img {
        background-color: $gray-color;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
        border: 3px solid white;
        display: block;
        max-width: 60%;
        max-height: 80%;
        margin: 60px auto;
    }
}

@media only screen and (max-width: 940px) {
    .modal{
        img{
            max-width: 90%;
            max-height: none;
        }
    }
}