@import "../../global/variables";

.header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-fixed;

    .navbar {
        width: 90%;
        max-width: 1170px;
        height: $header-height;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;

        .navbar_logo {
            font-size: 1.7em;
            letter-spacing: .25px;
            font-weight: 700;
            color: $white-color;
            text-shadow: 0 1px 1px rgba(0 0 0 / 12%);
        }

        .menu_icon {
            height: 1.4em;
            width: 1.4em;
            display: none;
            transition: $transition;
            cursor: pointer;

            .icon {
                font-size: 1.4em;
                color: $white-color;
            }
        }

        .navbar_manu {
            height: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;

        .menu_icon {
            display: block !important;
        }

        .navbar_manu {
            position: absolute;
            top: -100vh;
            z-index: -1;
            height: auto !important;

            &.open {
                top: $header-height;
                left: 0;
                right: 0;
                background-color: rgb(5, 30, 52);
                transition: $transition;
            }
        }
    }
}