@import '../../global/variables';

.footer {
    background-color: rgb(30, 55, 80);
    color: $gray-color;

    .wrapper {
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;

        a {
            color: $primary-color;
            color: var(--primary-color);
        }
    }

    .footer_top {
        padding: 3rem 0;

        .wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: 2rem;

            h2 {
                font-size: 28px;
                line-height: 36px;
                text-shadow: 0 1px 1px rgba(0 0 0 / 12);
                margin-bottom: 1rem;
            }

            p {
                text-shadow: 0 1px 1px rgba(0 0 0 / 12%);
            }

            .footer_top_middle {

                .social {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
                    grid-gap: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: .5rem;

                        &:last-child {
                            margin: 0;
                        }

                        svg {
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .footer_top_right {
                p {
                    svg {
                        margin-right: 10px;
                    }

                    margin-bottom: .3rem;
                }
            }
        }
    }

    .footer_bottom {
        background-color: rgb(5, 30, 52);
        padding: 1rem 0;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .social {
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)) !important;
    }
}